<div class="main-div">
    <mat-card class="mat-card">
        <mat-card-header>
            <mat-card-title>
                Login
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Company Name</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </p>
            <button mat-raised-button (click)="login()">Login</button>
        </mat-card-content>
    </mat-card>
</div>
