<div class="main-div">
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>
        Robert Chynoweth's Coding Challenge
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div mat-subheader>Technologies used to create this site:</div>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>check</mat-icon>
          <div mat-line>ASP.NET Core</div>
          <div mat-line>3.1.7</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check</mat-icon>
          <div mat-line>Angular</div>
          <div mat-line>10.1.4</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check</mat-icon>
          <div mat-line>Angular Material</div>
          <div mat-line>10.1.4</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check</mat-icon>
          <div mat-line>Entity Framework</div>
          <div mat-line>3.1.8</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check</mat-icon>
          <div mat-line>SQL Server 2019</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-card"
            *ngIf="!isUserLoggedIn()">
    <mat-card-header>
      <mat-card-title>
        Get Started
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div mat-subheader>Register to get started</div>
      <a mat-button [routerLink]="['/register']">
        Register
        <mat-icon>create</mat-icon>
      </a>
      <div mat-subheader>Already have an account?</div>
      <a mat-button [routerLink]="['/login']">
        Login
        <mat-icon>login</mat-icon>
      </a>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-card"
            *ngIf="isUserLoggedIn()">
    <mat-card-header>
      <mat-card-title>
        Employee Management
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div mat-subheader>Update your employees</div>
      <a mat-button [routerLink]="['/employeeinput']">
        Employee Input
        <mat-icon>person_add</mat-icon>
      </a>
      <div mat-subheader>Show a summary of your employee costs</div>
      <a mat-button [routerLink]="['/employeesummary']">
        Employee Summary
        <mat-icon>data_usage</mat-icon>
      </a>
    </mat-card-content>
  </mat-card>
</div>
