<!-- <h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p> -->

<div class="main-div">
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>
        Robert Chynoweth's Coding Challenge
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div mat-subheader>Technologies used to create this site:</div>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>check</mat-icon>
          <div mat-line>ASP.NET Core</div>
          <div mat-line>3.1.7</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check</mat-icon>
          <div mat-line>Angular</div>
          <div mat-line>10.1.4</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check</mat-icon>
          <div mat-line>Angular Material</div>
          <div mat-line>10.1.4</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check</mat-icon>
          <div mat-line>Entity Framework</div>
          <div mat-line>3.1.8</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>check</mat-icon>
          <div mat-line>SQL Server 2019</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-card"
            *ngIf="!isUserLoggedIn()">
    <mat-card-header>
      <mat-card-title>
        Get Started
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div mat-subheader>Register to get started</div>
      <a mat-button [routerLink]="['/register']">
        Register
        <mat-icon>create</mat-icon>
      </a>
      <div mat-subheader>Already have an account?</div>
      <a mat-button [routerLink]="['/login']">
        Login
        <mat-icon>login</mat-icon>
      </a>
    </mat-card-content>
  </mat-card>
</div>
