<div class="main-div">
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>
        {{clientName}} Summary
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Cost Breakdown">
          <div>
            <br />
            <h3>Yearly Company Pay: {{ yearlyCompanyPay | currency }}</h3>
            <h3>Yearly Benefit Costs: {{ yearlyBenefitCosts | currency }}</h3>
            <h3>Yearly Company Pay Less Benefits: {{ yearlyCompanyPayLessBenefits | currency }}</h3>
            <h3>Bi-weekly Company Pay: {{ biWeeklyCompanyPay | currency }}</h3>
            <h3>Bi-weekly Benefit Costs: {{ biWeeklyBenefitCosts | currency }}</h3>
            <h3>Bi-weekly Company Pay Less Benefits: {{ biWeeklyCompanyPayLessBenefits | currency }}</h3>
          </div>
        </mat-tab>
        <mat-tab label="Employee List">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
              <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
            </ng-container>

            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
              <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
            </ng-container>

            <ng-container matColumnDef="dateHired">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Hired</th>
              <td mat-cell *matCellDef="let element">{{ element.dateHired | date:'y/M/d' }}</td>
            </ng-container>

            <ng-container matColumnDef="numberOfDependents">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Dependents</th>
              <td mat-cell *matCellDef="let element">{{ element.numberOfDependents }}</td>
            </ng-container>

            <ng-container matColumnDef="biWeeklyPay">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Bi-weekly Pay</th>
              <td mat-cell *matCellDef="let element">{{ element.biWeeklyPay | currency }}</td>
            </ng-container>

            <ng-container matColumnDef="yearlyCost">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Yearly Benefits Cost</th>
              <td mat-cell *matCellDef="let element">{{ element.yearlyCost | currency }}</td>
            </ng-container>

            <ng-container matColumnDef="biWeeklyCost">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Bi-weekly Benefits Cost</th>
              <td mat-cell *matCellDef="let element">{{ element.biWeeklyCost | currency }}</td>
            </ng-container>

            <ng-container matColumnDef="netPay">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Net Pay</th>
              <td mat-cell *matCellDef="let element">{{ element.netPay | currency }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageIndex]="pageIndex" [length]="pageLength" [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
